<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.8.4" targetFramework="net472" />
  <package id="EasyDox" version="2.0.39" targetFramework="net472" />
  <package id="EasyDox.Morpher" version="2.0.30" targetFramework="net35" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net35" />
  <package id="Microsoft.Web.WebView2" version="1.0.2210.55" targetFramework="net472" />
  <package id="Morpher.API" version="1.0.10" targetFramework="net472" />
  <package id="NLipsum" version="1.1.0" targetFramework="net35" />
</packages>